<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cognitube.consumer.mapper.NotificationMapper">

    <sql id="notificationInsertFields">
        receiver_id, sender_id, title, content, notification_type, is_unread
    </sql>

    <insert id="insertNotification" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notifications
        (<include refid="notificationInsertFields" />)
        VALUES (#{receiverId}, #{senderId}, #{title}, #{content}, #{notificationType}, #{isUnread})
    </insert>


</mapper>